*
    padding: 0
    margin: 0
    box-sizing: border-box

@import 'main-todo-list'
@import 'aside'
@import 'checkbox'

body
    font-family: sans-serif
    
    display: flex
    justify-content: flex-start
    align-items: center

    width: 100%
    min-height: 100vh

    position: relative

    background-image: linear-gradient(#0183ff, #0038da, #0183ff)

footer
    padding: 1rem
    font-size: 0.7rem
    position: absolute
    bottom: 0
    width: 100%
    color: white
    text-align: center

    a
        color: white